.venv
.vscode
__pycache__

data
tags/tagsource
notebooks/.ipynb_checkpoints
notebooks/old
notebooks/temp.ipynb
local
writing
test.py

extract/train/labeler
extract/train/model
extract/train/training.tsv
extract/data_prep.ipynb